* {
   box-sizing: border-box;
 }
 
 body {
   background-color: #111;
 }
 
 h1{
    color: #dee4f1;
    font-weight: bold;
 }

 .grid {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   width: 600px;
   margin: auto;
 }
 
 .square {
   background-color: #1d1d1d;
   box-shadow: 0 0 2px #000;
   height: 16px;
   width: 16px;
   margin: 2px;
   transition: 1s ease;
 }
 
 .square:hover {
   transition-duration: 0s;
 }

 .container{
    width: 600px;
 }
 .btn-group {
   margin: 5px 10px 15px;
 }

 .btn-info{
   background-color: #5bc0de94;
 }

 .footer-basic {
   margin: 0 10%;
   padding:40px 0;
   color:#4b4c4d;
 }
 
 .footer-basic .social {
   text-align:center;
 }
 
 .footer-basic .social > a {
   font-size:24px;
   width:40px;
   height:40px;
   line-height:35px;
   display:inline-block;
   text-align:center;
   border-radius:50%;
   border:1px solid #7ac9e170;
   margin:0 8px;
   opacity:0.75;
 }
 
 .footer-basic .social > a:hover {
   opacity:0.9;
 }

 .footer-basic .copyright {
   margin-top:15px;
   text-align:center;
   font-size:13px;
   color:#7ac9e170;
   margin-bottom:0;
 }